.calc {
    background: skyblue;
    color: blue;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.cal input {
    background: black;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}
#sptotal {
    background: black;
    color: rgb(95, 173, 65);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.calc button {
    background: antiquewhite;
    color: red;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover {
    background: antiquewhite;
    color: red;
    cursor: pointer;
}
